@tailwind base;
@tailwind components;
@tailwind utilities;

form {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

input {
    border: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 40px;
    border: 1px solid #ccc;
    width: 90%;
}

#login:hover{
    cursor: pointer;
}